<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
<div class="login-page">
  <div class="form">
    <h1>Welcome back to the site, <%= username %>!</h1>
    <p><a href="/logout">Logout</a></p>
  </div>
</div>
